.form,
.form-control {
  display: flex;
  flex-direction: column;
}

.form {
  margin: 2rem 0;
  gap: 1rem;
}
.form-control {
  gap: 0.5rem;
}

label {
  color: var(--clr-primary-500);
}

.label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: var(--fw-bold);
}

.invalid-msg {
  color: var(--clr-accent-500);
}

input,
button {
  border-radius: 8px;
  padding: 1rem;
}
input {
  border: 1px solid hsl(231, 7%, 75%);
}
.invalid {
  border: 1px solid var(--clr-accent-500);
  background-color: var(--clr-accent-400);
}
