.form,
.form-control {
  display: flex;
  flex-direction: column;
}

.form {
  margin: 2rem 0;
  gap: 1rem;
}
.form-control {
  gap: 0.5rem;
}

label {
  font-size: 14px;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-500);
}

input,
button {
  border-radius: 8px;
  padding: 1rem;
}
input {
  border: 1px solid var(--clr-neutral-300);
}

button {
  border: none;
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
}
