@font-face {
  font-family: "Bold"; /*Can be any text*/
  src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}
.container {
  display: flex;
  flex-wrap: wrap;
}
